beautifulsoup4>=4.9.1
Flask>=1.1.1
gunicorn>=19.9.0
Jinja2>=2.11.3
MarkupSafe>=1.1.1
Werkzeug>=0.15.5
numpy>=1.9.2
scipy>=0.15.1
nltk>=3.5
scikit-learn>=0.18
pandas>=0.19
jsonschema>=3.2.0
tmdbv3api>=1.6.1
lxml>=4.6.3
urllib3>=1.26.5
requests>=2.23.0
pickleshare>=0.7.5
# dotenv>=10.0.0
# ejs==3.1.6
express>=4.17.3
express-session>=1.17.2
md5>=2.3.0
mongoose>=5.13.13
passport>=0.4.1
passport-local>=1.0.0
passport-local-mongoose>=6.1.0
sql>=0.78.0