<%- include("header") -%>

<section >
<form class="" action="/competitions" method="post">
  <input type="text" name="srchInput" size="60" value="" placeholder="search">
<button type="submit" name="" class="btn btn-sm"><i class="fas fa-search"></i></button>
</form>

</section>



  <section id="compet">

    <div class="row opt-total">


      <% certNames.forEach(function(Certification){ %>
                <div class="col-lg-6 opt-box" style="background-color:red; border:1px solid;">
      <ul>
                  <div class="opt-head">
                    <h3>  <%= Certification.name %>   </h3>
                  </div>

      </ul>
                </div>

                <div class="col-lg-6 opt-why" style="background-color:yellow;  border:1px solid;">
                  <p><%= Certification.cover %></p>
                </div>
                <!-- <div class="opt-button">
                  <button type="button" class="btn btn-lg btn-block strbut"><a href="#"></a>Register and add to profile</button>
                </div> -->

                <% }) %>
              </div>


            </section>








<%- include("footer") -%>
