<%- include("header") -%>
<section>
  <form class="" action="/courses" method="post">
    <input type="text" name="srchInput" size="70" value="" style="border: 1px #a20a0a solid;border-radius:5px ;background-color:black" placeholder="search">
    <button type="submit" name="" style="background-color: #a20a0a" class="btn btn-sm"><i class="fas fa-search"></i></button>
  </form>

</section>

<section id="certi">

<div class="row opt-total">

    <% certNames.forEach(function(Certification){ %>

    <div class="col-lg-3 opt-box" >
      <ul>
        <!-- <div class="opt-head"> -->
          <h5> <%= Certification.degNam %> </h5>

        <!-- </div> -->

      </ul>
    </div>

    <div class="col-lg-6 opt-why" >
      <h5><p><%= Certification.degMjr %></p></h5>
    </div>

    <div class="col-lg-2">
      <form class="" action="" method="post">
        <button type="submit" class="btn optbut-task" name="button">Add</button>
      </form>
    </div>

    <% }) %>
  </div>


</section>



<%- include("footer") -%>
